<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="assets/img/DoorMan-logo.jpg">
    <link rel="stylesheet" href="../assets/css/bike.css">

    <script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> -->
</head>
<body>

    <div class="animate__flipOutX">
    <div id="container" >
       
        <div class="header">
        <img src="../assets/img/DoorMan-logo.jpg" class="img">
        <h1 class="animate__fadeInDown">Door Man</h1>
    </div> 
    <br>

   <p>Please your are expected to fill the details of your vehicle probably for security puposes as directed by the Department of state security (DSS)<br>Make sure the decuments uploaded are correct and unthentic, it will be very important during the physical verting</p>

   <div >
    <h1>sign up <span>it's free</span>
        <br><P>(Bike  registration)</P>
    </h1>

    <div class="container-fluid">

    <form action="bike" method="post"  id="form" enctype="multipart/form-data">

        <label for="Phone number"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="last" placeholder="Rider's Phone Number" name="Number" required>
        <br>
        <label for="Onwer"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="onwer" placeholder="Owner's Name" name="owner"required>
        <br>

        <label for="Make"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="make" placeholder="Bike Make" name="make"required>
        <br>

        <label for="Registration Number"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="reg" placeholder="registration Number"name="regNumber" required>
        <br>

        <label for="Engine Number"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-envelope"></i></label>
        <input type="text" id="engine" placeholder="Engine Number" name="engNumber" required>

        <br>
        <label for="password"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-lock"></i></label>
        <input type="text" id="chasis" placeholder="Chasis Number" name ="chasis" required>
        <br>

        <label for="confirm"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-lock"></i></label>
        <input type="text" id="color" placeholder="Vehicle color" name="color"required>

        <br>
        <br> 
          <label for="reciept name" id="receipt">Receipt of purchase</i></label>
        <input type="file"  name="receipt" required >
        <input type="submit" value="Submit" id="submit"> 
    </form>
       
    
    <br> 
<form action="/lic" method="post" enctype="multipart/form-data">
          <label for="licence" id="licence">Vehicle Licence</label>
        <input type="file" name="licence" required >
         <br>
         <input type="submit" value="Upload" id="submit">
    </form>
        
<form action="insu" method="post" enctype="multipart/form-data" >
        <label for="insurance" id="insurance">Issurance certificate</label>
        <input type="file" name="insurance" required >

        <!-- <input type="file" name="multi-files" accept='image/*' multiple> -->
     
        <br>
        <br>
        <input type="submit" value="Upload" id="submit">
    </form>
</div>
    
   </div>

    </div>
</div>
</body>
</html>