<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door Man</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
     

    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <div class="doorMan">
        <div class="container-fluid">
            <h1>Welcome to Door Man </h1>
            <p>your best online delivery services</p>
             
            <form class="form-horinzontal">
                
                    <label for="from"  ><i class=" fa fa-dot-circle-o"></i></label>
                    <input type="text" id="from" placeholder="origin">
                
                <br>
               
                   
                    <label for="to"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    <input type="text" id="to" placeholder="destination">
                
                <br>
                <input type="button" id="btn" onClick="get_location();" value="LOCATE">
            </form>
        </div>
        
                <div  class ="container-fluid" id='map'>
                
                </div>

                
                <div  class ="container-fluid" id='panel'>
                
                </div>

            
            <div id="output"> 
                <div id="origin"> 

                </div>
                <div id="destination"> 

                </div>
                <div id="distance"> 

                </div>
                <div id="amount"> 

                </div>
            </div>

        
    </div> 

  

    
    
    
    
    <script src="../assets/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKJ9QfsPzsdVG4L0cygz1ylqGmVuBrYtk&callback=initMap"></script>
</body>
</html>