<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="icon" href="../assets/DoorMan-logo.jpg">
    <link rel="stylesheet" href="/assets/css/land.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> -->

<script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>


</head>
<body>
  <nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/landing"><img  id="logo"src="assets/img/DoorMan-logo.jpg">DoorMan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/landing">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" id="dropdownL">
              <li><a id="reg" href="/login" target="">Customer</a></li><br>
            <li><a id="reg" href="/ridersLogin" target="">Rider</a></li>
            </ul>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
              </a>
              <ul class="dropdown-menu" id="dropdownR">
                <li><a id="reg" href="/registration" target="">Customer</a></li><br>
                <li><a id="reg" href="/ridersReg" target="">Rider</a></li>
              </ul>
            
    
      </div> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="header">
      <h2>DoorMan <Span class="best">your best online delivery company</Span></h2>
    </div>
    
    <div class="fancy">
 <div class="card" id="card">
    <div class="card-body">
      <p class="card-text">DoorMan is one of the best delivery services avaliable in Nigeria, over 150+ riders available for your delivery services.
        with DoorMan, you can send packages, foods, cakes, etc at from your comfort at a click of your finger. Thank you for choosing us, we promise not to disappoint you .</p>
    </div>
  </div>

  <img id="fineDoorman" src="assets/img/fineDoorman.jpg">
</div>
  

  <div class="card"  id="u">
    <div class="card-body" id ="us">
      <p class="card-text" id="book"> BOOK AND SEND <br> PACKAGE <br>WITH EASE </p>
      <p class="card-text"> FAST AND QUICK<br> PICKUP SERVICE </p>
     <div class="img"><img id="placard"src="assets/img/placard.png"></div>
      
    </div>
  </div>

<div class="products">
  <h2>What we do</h2>
  <p id="range">DoorMan offers other range of services</p>
</div>

<div class="services">
  <div class="card" id="services">
    <div class="card-body">
       <h4 class="title">Inter state delivery</h4>
       <h6 class="sub-title">send packages and parcel outside your state</h6>
       <img src ="assets/img/delivery-van.jpg" class="img-fluid"> <br>
       <a  id="order" href="#" class="btn btn-primary">Place your order</a>
       <p id="stock">Out of stock</p>


  </div>
</div>

<div class="card" id="services">
  <div class="card-body">
     <h4 class="title">Logistic</h4>
     <h6 class="sub-title">Send packages and parcels</h6>
     <img id="ridemap"src ="assets/img/ridemap.png" class="img-fluid"> <br>
     <a  id="goods" href="/layout" class="btn btn-primary">Send your Goods</a>
     <!-- <p id="stock">Out of stock</p> -->


</div>
</div>

<div class="card" id="services">
  <div class="card-body">
     <h4 class="title">Food delivery</h4>
     <h6 class="sub-title">Order food from your favourite Restaurants and have it delivered at your door step</h6>
     <img id ="delivery-pic"src ="assets/img/delivery-pic.jpg" class="img-fluid"> <br><br>
     <a  id="order" href="#" class="btn btn-primary">Place your order</a>
     <p id="stock">Not yet available</p>


</div>
</div>

</div>
<div class="products">
  <h2>What we sell</h2>
  <p>Place your order and get it delivered to you</p>
</div>
</div>

<div class="services">
  <div class="card" id="services">
    <div class="card-body">
       <h4 class="title">Bike sales</h4>
       <h6 class="sub-title">purchase brand new Qlink bikes</h6>
       <img src ="assets/img/bike.png" id="bike"class="img-fluid"> <br>
       <a  id="glove" href="#" class="btn btn-primary">Place your order</a>
       <p id="stock">Out of stock</p>
  </div>
</div>

<div class="card" id="services">
  <div class="card-body">
     <h4 class="title">Helmet sales</h4>
     <h6 class="sub-title">Purchase brand new super protective helmets</h6>
     <img src ="assets/img/helment.jpg" id="hel"class="img-fluid"> <br>
     <a  id="glove" href="#" class="btn btn-primary">Place your order</a>
     <p id="stock">Out of stock</p>
</div>
</div>

<div class="card" id="services">
  <div class="card-body">
     <h4 class="title">Bike Glooves  sales</h4>
     <h6 class="sub-title">Purchase brand new super protective hand glooves</h6>
     <img src ="assets/img/gloves.jpg" class="img-fluid"> <br>
     <a  id="glove" href="#" class="btn btn-primary">Place your order</a>
     <p id="stock">Out of stock</p>


</div>
</div>

</div>

<div class="work">

  <div class="card" id="remote">
    <div class="card-body">
      <div class="try">
        <h4>Become a DoorMan <br> customer service agent</h4>
        <h6> Work from anywhere</h6>
      </div>
        <img id="customer-service"src="assets/img/customer-service.jpg">
        <a id="apply" href="#" class="btn btn-primary">Apply</a>
    </div>
  </div>

  <div class="card" id="remote">
    <div class="card-body">
      <div class="try">
        <h4>Become a PMT Logistics Agent</h4>
        <h6>Pickup collections & Delivery</h6>
      </div>
        <img id="customer-service"src="assets/img/rider.jpg">
        <a id="apply" href="#" class="btn btn-primary">Apply</a>
    </div>
  </div>

</div>

<hr>
<hr>


<div class="footer">

  <div class="company">
    <img id="logo"src="assets/img/Doorman-logo.jpg" alt="">
    <h3 id="door"> Our Vision is to use all available resources to become the largest and most efficient delivery corporation world over.
      
DoorMan is one of the Nigeria largest delivery organisation, that have been in existence since 2011 still date.. We help bring maximum comfortbility to our clients. We work with our clients, not at them.


    </h3>
   </div>

   <div class="login-footer">
      <div class="foot1">
        <p id="p-footer">Customer</p>
          <a id ="link" href="/registration">Register</a>
          <a id ="link" href="/login">Login</a>
    
   </div>
  </div>

   <div class="login-footer">
    <p id="p-footer">Rider</p>
    
        <a  id ="link" href="/ridersReg">Register</a>
        <a  id ="link" href="/ridersLogin">Login </a>
  
   </div>
 
<div class="logistic">
  <p id="p-footer">Logistic</p>

    <a id ="link" href="#">Request a Pickup</a>
    <a id ="link" href="#">Track Parcel</a>
    <a id ="link" href="#">Logistics Terminals</a>
    <a id ="link" href="#">Become an Agent</a>
</div>

<div class="contact">
  <p class="contact-us">Contact us</p>
  <p class="location"><i class="fa-solid fa-location-dot"></i>569 Moving Avenue, Turning Island</p>

  <div class="icons">
  <a href="https://web.facebook.com/anuebunwa.humble"><i id="icons-1" class="fa-brands fa-facebook"></i></a>
  <a href="https://github.com/Anuebunwa-Daniel"><i id="icons-1"  class="fa-brands fa-github"></i></a>
  <a href="https://https://twitter.com/AnuebunwaH"><i id="icons-1" class="fa-brands fa-square-twitter"></i></a>

  <br>



<span id ="number"><i class="fa-sharp fa-solid fa-phone"></i>+2348036541679</span>
    </div>

  </div>
</div>






  
       

      
      <!-- <div class="food">
        <p><span> You are hungry? </span>you're in<br> the right place, order what to eat from your favourite Restaurants and pay on delivery</p>

      </div>

      <div class="bg-image">
        <img class="bg" src="../assets/img/doorMan.jpeg" alt="">
      </div>
  
        <p class="relax">Just relax at Home,<br>
        your Goods are safe with us<br> and we will take care of you
        </p> -->

        <!-- <div class="footer">
          <div id="fo">
            <i class="fa-solid fa-hourglass-start"></i>
            <h5 id="about">Fast delivery in 1 hour 
            with our riders</h5>
            </div>

            <div id="fo">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <h5 id="about">very easy to order with phone or web</h5>
          </div>

          <div id="fo">
            <i class="fa-solid fa-earth-americas"></i>
            <h5 id="about">wide coverage map around the world</h5>
          </div> -->

        



          </div>

        </div>
      
    
    
  
    
    </div>
  </div>

      
</body>
</html>