<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="icon" href="../assets/DoorMan-logo.jpg">
    <link rel="stylesheet" href="/assets/css/land.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>


</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img  class="logo" src="../assets/img/DoorMan-logo.jpg">Door Man</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">About Us</a>
              <a class="nav-link" href="#">Contact us</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
      <div class="access">

        <!-- <a id="log" href="/login" target="">Login</a> -->
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownL">
            Login
          </button>
          <ul class="dropdown-menu">
            <li><a id="reg" href="/login" target="">Customer</a></li><br>
            <li><a id="reg" href="/ridersLogin" target="">Rider</a></li>
           
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown">
            Register
          </button>
          <ul class="dropdown-menu">
            <li><a id="reg" href="/registration" target="">Customer</a></li><br>
            <li><a id="reg" href="/ridersReg" target="">Rider</a></li>
           
          </ul>
        </div>
        
      </div>

      
      <div class="food">
        <p><span> You are hungry? </span>you're in<br> the right place, order what to eat from your favourite Restaurants and pay on delivery</p>

      </div>

      <div class="bg-image">
        <img class="bg" src="../assets/img/doorMan.jpeg" alt="">
      </div>
  
        <p class="relax">Just relax at Home,<br>
        your Goods are safe with us<br> and we will take care of you
        </p>

        <div class="footer">
          <div id="fo">
            <i class="fa-solid fa-hourglass-start"></i>
            <h5 id="about">Fast delivery in 1 hour 
            with our riders</h5>
            </div>

            <div id="fo">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <h5 id="about">very easy to order with phone or web</h5>
          </div>

          <div id="fo">
            <i class="fa-solid fa-earth-americas"></i>
            <h5 id="about">wide coverage map around the world</h5>
          </div>

        



          </div>

        </div>
      
    
    
  
    
    </div>

      
</body>
</html>