<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation Page</title>
    <link rel="icon" type="image/x-icon" href="assets/img/DoorMan-logo.jpg">
    <link rel="stylesheet" href="/assets/css/reg.css">

    <script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>

    <div class="animate__fadeInDown">
    <div id="container" class="animate__fadeInTopLeft">
       
        <div class="header">
        <img src="../assets/img/DoorMan-logo.jpg" class="img">
        <h1 class="animate__fadeInDown">Door Man</h1>
    </div> 
    <br>

   <p>Welcome to the Door Man registration page, thank you for choosing  Door Man</p>

   <div class="animate__fadeInDownBig">
    <h1>sign up <span>it's free</span>
        <br><P>(customer's registration)</P>
    </h1>

    <form  method="post" action="/registration" id="form">

        <label for="First Name"><i class="fa-solid fa-file-signature"></i></label>

        <input type="text" id="first" name="firstname" placeholder="First Name" required >
        <br>

        <label for="Last Name"><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="last" placeholder="Last Name" name="lastname" required>
        <br>

        <label for="phone number"><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="last" placeholder="Phone Number" name="Number" required>
        <br>

        <label for="Email"><i class="fa-solid fa-envelope"></i></label>
        <input type="email" id="email" placeholder="Enter your Email" name="email" required>

        <br>
        <label for="password"><i class="fa-solid fa-lock"></i></label>
        <input type="password" id="password" placeholder=" Password" name="password"  onkeyup="pass()" required>
        <p id="passLength"></p>
        <br>

        <label for="confirm"><i class="fa-solid fa-lock"></i></label>
        <input type="password" onkeyup="check()" id="confirm" placeholder=" Comfirm Password" name="conpassword" required>

        <p id="message"></p>

        <br>

        <label for="country"><i class="fa-solid fa-earth-africa"></i></label>
        <select name="country" id="country">
            <option value="options">Choose your Country</option>
            <option value="Nigeria" name="nigeria"> Nigeria</option>

        
                <input type="checkbox" id="terms">
                <label> I have read and accepted <a href="#">Terms and Conditions</a></label>
            


            <input   type="submit" value="Submit" id="submit" disabled>
            
            
        </select>
    </form>
   </div>

    </div>
</div>
<script src="../assets/script/regconfig.js"></script>
<script>
    


</script>

</body>
</html>