<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="icon" type="image/x-icon" href="assets/img/DoorMan-logo.jpg">
    
    <link rel="stylesheet" href="assets/css/rider.css">

    <script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> -->
</head>
<body>

    <div class="animate__flipOutX">
    <div id="container" >
       
        <div class="header">
        <img src="assets/img/DoorMan-logo.jpg" class="img">
        <h1 class="animate__fadeInDown">Door Man</h1>
    </div> 
    <br>

   <p>Welcome to the Door Man registration page, thank you for choosing  Door Man</p>

   <div >
    <h1>sign up <span>it's free</span>
        <br><P>(Rider's registration)</P>
    </h1>

    <form   method="post" action="/ridersReg"  id="form">
        <label for="First Name"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="first" placeholder=" Rider's First Name" name="firstName" required>
        <br>

        <label for="Last Name"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="last" placeholder="Rider's Last Name" name="lastName" required>
        <br>

        <label for="Phone number"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-file-signature"></i></label>
        <input type="text" id="last" placeholder="Rider's Phone Number" name="Number" required>
        <br>

        <label for="Email"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-envelope"></i></label>
        <input type="email" id="email" placeholder="Enter your Email" name="email" required>

        <br>
        <label for="password"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-lock"></i></label>
        <input type="password" id="password" placeholder=" Password" name="password" required>
        <br>

        <label for="confirm"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-lock"></i></label>
        <input type="password" id="confimr" placeholder=" Comfirm Password" name="conpassword" required>

        <br>

        <label for="country"><i class="fa-solid fa-person-biking"></i><i class="fa-solid fa-earth-africa"></i></label>
        <select name="country" id="country">
            <option value="options">Choose your Country</option>
            <option value="Nigeria" name="Nigeria" required> Nigeria</option>
        </select>
        <br>
            
        <input type="submit" value="Submit" id="submit">
    </form>

            
    
   </div>

    </div>
</div>
</body>
</html>