.container-fluid{
    background-color:brown ;
    position:absolute;
    top: 0%;
}

.navbar-brand{
    color:white !important;
    font-size: 30px !important;
    font-family:'Lucida Sans';
    font-weight: bold;
    
}
.logo{
    height: 70px;
    margin-right: 10px;
}

.navbar-toggler-icon{
    background-color: white !important;
    /* margin-right: 45px;
    width: 40px; */
    
}

.navbar-nav, a{
color: white !important;

}

.container{
  margin-left: 50px;
  margin-right: 50px;
}

 
.food{
  /* border: 1px solid black; */
  width: 230px;
  text-align: center;
  font-family: 'roboto';
  margin-top: 80px;
}
span{
  font-weight: bold;
  font-family: Tahoma;
  color: brown;
}
#log{
  background-color: brown;
  float: right;
   margin-left: 10px; 
   margin-right: 10px; 
   width: 30px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  
}
#reg{
  color:white !important;
  margin-left: 10px;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(89, 83, 83);
 

  
}
#reg:hover, #log:hover{
  background-color: gray;
}
#dropdownL{
    background-color: wheat;
    width: 75px;
    float: right;
    color: rgb(211, 26, 26) !important;
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px;
    margin-right: 15px !important;
   
}
#dropdown{
  background-color: wheat;
  width: 75px;
  float: right;
  color: rgb(211, 26, 26) !important;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px;
  margin-right: 15px !important;


}

#dropdown:hover, #dropdownL:hover {
  background-color:rgb(201, 200, 200);
  font-size: 11px;
}
#dropdown:active, #log:active{
  background-color: beige;
}
.relax{
  font-weight: bold;
  text-align: center;
  font-family: 'Georgia';
  
}


.bg-image{
  margin-top: 30px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  
}
.bg{
  height: 200px;
  
  

}


.footer{
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
}

#about{
  font-size: 12px;
  width: 70px;
  margin-right: 20px;
  background-color:rgb(200, 179, 179);
  box-shadow: 0px 0px 10px 0px;
  font-family: 'Georgia';

}
#fo{
  text-align: center;
  margin-left: 0px;
}

i{
  font-size: 17px;
  text-align: center;
}
#than{
  font-size: 12px;
  width: 70px;
  word-wrap: break-word;
  background-color:rgb(200, 179, 179);
  box-shadow: 0px 0px 20px 0px;
  font-family: Georgia;
}
@media screen and (min-width:400px){
 .container-fluid{
  background-color: brown;
 }
  #dropdown{
    margin-right: 20px;
    
  }
  .bg-image{
  
    margin: 0 auto;
  }
  .bg{
    height: 250px;
  }
  #about{
    font-size: 1px;
    width: 50px;
    margin-right: 20px;
    background-color:rgb(200, 179, 179);
    box-shadow: 0px 0px 10px 0px;
    font-family: 'Georgia';
  
  }
  .footer{
    margin-top: 30px;
    margin-left: -50px;
  }
  .relax{
    font-family:'Georgia';
    margin-top: 50px;
  }
  
  i{
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
  }
  #than{
    font-size: 12px;
    width: 50px;
    word-wrap: break-word;
    background-color:rgb(200, 179, 179);
    box-shadow: 0px 0px 20px 0px;
    font-family: Georgia;
  }

}


@media screen and (min-width:720px){
 .container-fluid{
  background-color: brown;

 }
  
   .navbar-nav{
    display: block;
    margin-left: 70%
  }
  .food{
    font-size: 40px;
    width: 800px; 
    margin-top: 100px;
    font-style: italic;
    font-weight: bold;
    
  }
 
  #dropdownL{
    margin-right: -50px !important;
  }
  .bg-image{
    height: 400px;
    width: 400px;
  margin-left: 30px;
  }
  
  .bg{
    height: 350px;
    width: 350px;
    margin-top: 30px;
  

  }
  .relax{
    font-size: 40px;
    width: 600px;
    float: right;
    margin-top: -300px; 
 
   
  }
  #about{
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
    background-color:rgb(200, 179, 179);

  
  }
  i{
    font-size: 30px;
    color: brown;
  }
  .footer{
   margin-top: 30px;
   width: auto;
   justify-content: space-between;

}
#than{
  font-size: 20px;
  width: 100px;
}
}