.container-fluid{
    background-color: brown !important;
    width: fit-content;
    position: fixed;
    top:0%;
    z-index: 1;
}

.navbar-brand{
    color:white !important;
    font-size: 30px !important;
    font-family:'Lucida Sans';
    font-weight: bold;
    
}
#top{
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
  font-family: 'curcive';
  margin-left: 95px;
  margin-top:-25px;
}
#logo{
    height: 70px;
    margin-right: 10px;
    border-radius: 10px;
}

.navbar-toggler-icon{
    background-color: white !important;
    
}

.navbar-nav, a{
color: white !important;

}

#reg{
  color:white !important;
  margin-left: 10px;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(89, 83, 83);
 

  
}
#reg:hover, #log:hover{
  background-color: gray;
}
#dropdownL{
    background-color: wheat;
    width: 45px;
    color: rgb(211, 26, 26) !important;
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px;
    margin-right: 15px !important;
   
}

#dropdownR{
  background-color: wheat;
  width: 45px;
  color: rgb(211, 26, 26) !important;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px;
  margin-right: 15px !important;
 
}

 #log:active{
  background-color: beige;
}
.container{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  font-weight:bold !important;
  font-size: 40px !important;
  font-family: 'curcive' !important;
  color: brown;
  
}
.best{
  font-size: 35px;
  color: black;
  font-weight: 100;
  margin-top: 30px;
  font-style: italic;
}

.fancy{
  display: block;
}
#card{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: gray;
  box-shadow: 1px 1px 1px 1px;
  width: 350px;
}
#fineDoorman{
  height: 400px;
  display: block;
  margin: 0 auto;
}
#u{
  width: 450px;
}
#ur{
  margin-left: 10px !important;
  word-wrap: break-word;
}
#us{
  display: flex;
  font-family:'Geneva';
  overflow: auto;
  white-space:nowrap;
  
  color:rgb(152, 5, 5);
  font-weight: bold;
  font-size: 20px;
  /* overflow: auto;
  white-space:nowrap; */
}
#book{
  margin-right: 40px !important;
}
.products{
  margin-top: 30px;
}
#what{
  font-family:'cursive';
  color: brown;
  font-weight: bold;
  font-size: 35px;
}
#range{
  font-size: 25px;
  font-style: italic;
  font-family:'cursive';
  margin-top: -20px;
}
.services{
  display: block;
}
#services{
  margin: 30px auto;
  height: 490px;
  width: 350px;
}

.title{
  font-weight: bold !important;
  font-size: 30px;
  font-family:'roboto';
  color: brown;
  text-align: center;
}
.sub-title{
  font-weight: bold !important;
  font-family:'roboto';
  text-align: center;
  font-size: 20px;
}
#order{
  display:block;
  margin:40px  auto 0px auto;
  background-color: rgb(198, 136, 36) !important;
  font-family:'roboto';
  font-size: 20px;
  pointer-events: none;
}
#stock{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family:'roboto';
  width: 200px;
  display: block;
  margin: 10px auto;
  background-color: rgb(179, 178, 178);
  border-radius: 10px;

}
#ridemap{
  height: 300px;

}
#goods{
  display:block;
  margin:0 auto;
  background-color: rgb(198, 136, 36) !important;
  font-family:'roboto';
  font-size: 20px;
}
#delivery-pic{
  height: 200px;
  display: block;
  margin: 0px auto -25px auto;
}


#glove{
  display:block;
  margin:40px auto 0px auto;
  background-color: rgb(198, 136, 36) !important;
  font-family:'roboto';
  font-size: 20px;
}
#hel{
  height: 175px;
  display: block;
  margin: 0 auto;
}
#bike{
  height: 220px;
}
.work{
  background-color:rgb(246, 237, 219) ;
  height: auto;
}


#agent{

  margin-left: 20px;
  margin-top: 20px;
  width: 450px;
  height: 200px;
 

}

#remote{
  display: block;
  margin: 20px auto;
  width: 350px !important;
  color: black;
  font-family:'roboto';
  background-color: whitesmoke;
  box-shadow: 0px 0px 0px 0px;
  border: none;
 
}

.try{ 
   /* display: flex;  */
   /* border: 1px solid black;  */
  color: blue;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 5px;
  width: 210px;

}
.try > h6{
  color: black;
  font-size: 20px;
  margin-top: 30px;
}
 #customer-service{
  height:150px;
  width: 190px;
  float: right;
  margin-top: -95px;
  margin-right: 10px;
  /* border-radius: 50px; */


}

#apply{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family:'roboto';
  width: 100px;
  display: block;
  margin: 70px auto 10px auto;
  background-color: rgb(101, 101, 241);
  border-radius: 10px;

}
.rider{
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    height: 200px;
}

hr{
 background-color: rgb(246, 18, 18);
  height: 2px;
}

.footer{
  background-color: #211F45;
  height: auto;
}
.company{
  margin-left: 15px;
}
#door{
  font-size: 20px;
  font-family: 'roboto';
  width: 300px;
  word-wrap: break-word;
  color:white;
  text-align:left;

}
#p-footer{
  color: gold;
  font-size: 25px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 30px;
  text-decoration: underline;
}
#p-footer:hover{
  color:rgb(201, 176, 30);
  margin-left: 40px;
}
.login-footer{

}

#link{
  display: block;
  text-decoration: none;
  margin-left: 30px;
}

#link:hover{
  /* background-color:rgb(22, 21, 21); */
  margin-left: 45px;
}

#link:active{
  color:rgb(22, 21, 21);
  margin-left: 45px;
}
.contact{
  color:gold;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto';
  /* border: 1px solid white; */
  margin-left: 30px;
}

i{
  margin-right: 10px;
  color: gold;
  font-size: 20px;
}
.location{
  font-size: 17px;
  color: white;
  font-family: 'roboto';
}
.icons{
  text-align: center;
}
#icons-1:hover{
  font-size: 23px;
  color: rgb(233, 204, 132);
}
#number{
  font-size: 15px;
  color: white;
}

/* view points  from  900px to 1100 px */
@media screen and (min-width:1000px){
 .container-fluid{
  /* background-color: brown; */
 }
 #dropdownR{
  background-color: wheat;
  width: 25px;
  color: rgb(211, 26, 26) !important;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px;
  margin-right: 15px !important;
 
}

  .fancy{
    display:flex;
    margin: 40px 0px;
  }
  #fineDoorman{
    height: 400px;
    margin-left: 100px;
    border-radius: 50%;
    margin-top: -40px;
  }
  #card{
    width: 50% !important;
    height: 200px !important;
  }
  .services{
    display: flex;
    margin-left: 20px;
    margin-top: 100px;
  }
  #services{
    margin-right: 30px;
    width: 450px;
  }
  #delivery-pic{
    display: block;
    margin: 0px auto -43px auto;
  }

  .work{
    display: flex;
  }
  .footer{
    display: flex;
    
  }
  .company{
    margin-left: 40px;
  }
  .login-footer{
    margin-left:px;
  }
  .logistic{
    margin-left: px;
  }

  .bg-image{
  
    margin: 0 auto;
  }
  .bg{
    height: 250px;
  }
  #about{
    font-size: 12px;
    width: 110px;
    margin-right: 20px;
    background-color:rgb(200, 179, 179);
    box-shadow: 0px 0px 10px 0px;
    font-family: 'Georgia';
  
  }
  .footer{
    margin-top: 30px;
  }
  .relax{
    font-family:'Georgia';
    margin-top: 50px;
  }
  
  i{
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
    color: brown;
  }
  #than{
    font-size: 12px;
    width: 100px;
    word-wrap: break-word;
    background-color:rgb(200, 179, 179);
    box-shadow: 0px 0px 20px 0px;
    font-family: Georgia;
  }

}



/* view point from 1100px to larger screens */
/* @media screen and (min-width:1100px){
 .container-fluid{
  background-color: brown;

 }
  
   .navbar-nav{
    display: block;
    margin-left: 70%
  }
  .food{
    font-size: 40px;
    width: 800px; 
    margin-top: 100px;
    font-style: italic;
    font-weight: bold;
    
  }
 
  #dropdownL{
    margin-right: -50px !important;
  }
  .bg-image{
    height: 400px;
    width: 400px;
  margin-left: -50px;
  margin-right: 50px;
  
  }
  
  .bg{
    height: 400px;
    width: 450px;
    }
  .relax{
    font-size: 35px;
    width: 550px;
    float: right;
    margin-right:-50px ;
    margin-top: -300px; 
   
    line-height: 1.8;
  
   
  }
  #about{
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
    background-color:rgb(200, 179, 179);
  }
  i{
    font-size: 30px;
    color: brown;
  }
  .footer{
   margin-top: 0px;
   width: auto;
   justify-content: space-between;
  margin-top: 50px;

}
#than{
  font-size: 20px;
  width: 100px;
}
} */