.container-fluid{
    background-color:brown ;
    position:absolute;
    top: 0%;
}

.navbar-brand{
    color:white !important;
    font-size: 30px !important;
    font-family:'Lucida Sans';
    font-weight: bold;
    
}
.logo{
    height: 70px;
    margin-right: 10px;
}

.navbar-toggler-icon{
    background-color: white !important;
    /* margin-right: 45px;
    width: 40px; */
    
}

.navbar-nav, a{
color: white !important;

}

.container{
  margin-left: 50px;
  margin-right: 50px;
}

 
.food{
  /* border: 1px solid black; */
  width: 230px;
  text-align: center;
  font-family: 'roboto';
  margin-top: 80px;
}
span{
  font-weight: bold;
  font-family: Tahoma;
  color: brown;
}
#log{
  background-color: brown;
  float: right;
   margin-left: 10px; 
   margin-right: 10px; 
   width: 30px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  
}
#reg{
  color:white !important;
  margin-left: 10px;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(89, 83, 83);
 

  
}
#reg:hover, #log:hover{
  background-color: gray;
}
#dropdownL{
    background-color: wheat;
    width: 75px;
    float: right;
    color: rgb(211, 26, 26) !important;
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px;
    margin-right: 15px !important;
   
}
#dropdown{
  background-color: wheat;
  width: 75px;
  float: right;
  color: rgb(211, 26, 26) !important;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px;
  margin-right: 15px !important;


}

#dropdown:hover, #dropdownL:hover {
  background-color:rgb(201, 200, 200);
  font-size: 11px;
}
#dropdown:active, #log:active{
  background-color: beige;
}
.relax{
  font-weight: bold;
  text-align: center;
  font-family: 'Georgia';
  
}


.bg-image{
  margin-top: 30px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  
}
.bg{
  height: 200px;
  
  

}


.footer{
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
}

#about{
  font-size: 12px;
  width: 70px;
  margin-right: 20px;
  background-color:rgb(200, 179, 179);
  box-shadow: 0px 0px 10px 0px;
  font-family: 'Georgia';

}
#fo{
  text-align: center;
  margin-left: 0px;
}

i{
  font-size: 17px;
  text-align: center;
}
#than{
  font-size: 12px;
  width: 70px;
  word-wrap: break-word;
  background-color:rgb(200, 179, 179);
  box-shadow: 0px 0px 20px 0px;
  font-family: Georgia;
}
@media screen and (min-width:400px){
  #dropdown{
    margin-right: 20px;
    
  }
  .bg-image{
    margin: 0 auto;
  }
  #about{
    font-family: 'Lucida Sans',  sans-serif;
    /* margin-right: 30px; */
    width: 100px;
    word-wrap: break-word;
  }
  .footer{
    margin-top: 30px;
    margin:0 auto;
  }
  .relax{
    font-family:'Georgia';
  }
  
  i{
    font-size: 20px;
  }
  #than{
    display: none;
  }

}


@media screen and (min-width:720px){
  
  .navbar-nav{
    display: block;
    margin-left: 70%
  }
  .food{
    font-size: 20px;
    width: 400px;
    /* margin-top: 40px; */
  }
  .bg-image{
    display: block;
    margin: 0 auto;
    height: 500px;
  }
  .bg{
    height: 400px;
  }
  .relax{
    font-size: 30px;
    width: 400px;
    margin-top: 40px;
    display: block;
    margin:0 auto;
    
  }
  #about{
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
    background-color:rgb(131, 125, 125);
  
  }
  .footer{
    margin-left: 70px;
    margin-top: 30px;

}
#than{
  font-size: 20px;
  width: 200px;
}
}