*{
    box-sizing: border-box; 
}
 .wrapper{
            box-shadow: 0 0 20px 0 black;
            height: 550px;
        } 
.container{
    /* border: 1px solid black; */
}

img{
    height: 200px;
    width: 100%;
    margin-top: 0px;

    top: 0%;
}
.login_form{
    display: block;
    margin:0 auto;
    width: 90%;
    text-align: center;
    margin-top: 10px;
    background-color:white;
    
}
h2{
    color: brown;
    margin-top: -20px;
}
p{
    color:gray;
}
#password{
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: beige;
    border: 0px;

}
button{
    height: 25px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
   
    

}


#forget{
    text-decoration: none;
    margin-left: 20px;
    color:black;
}
#forget:hover{
    color: gray;
}

.terms{
    margin-top: 10px;
    margin-left: 30px;
}

@media screen and (min-width:700px){
      .wrapper{
        display: block;
        margin:0 auto;
            box-shadow: 0 0 20px 0 black;
            height: 500px;
            width: 90%;
    
        } 
        .container{

            width: 90%;
            height: auto;
            
        }
    img{
        width: 50%;
        margin-left:10px;
        margin-top:40px;
        height:400Px;

    }
    .login_form{
        margin-left: 420px;
        margin-top: -400px;
        background-color:white;
        width: 45%;
        height:400Px;
        border: 1px solid brown;
        position: absolute;
    }
    h2{
        color: brown;

    }
    p{
        margin-left: 30px;
        color:gray;
    }
   #password{
    width: 70%;
   }
}

